body{
    background-color: #ffffff;
}
.con{
    font-size: 16pt;
}
.lab{
    font-size: 14pt;
}
ul li{
    list-style-type: none;
}
#contactMe{
    display: inline-block;
}
.list li{
    
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    width: fit-content;
    padding: 4px;
    background-color: rgb(212, 218, 213);

}

#contactMe a{
    text-decoration: none;
    color: #000;
}
aside{
    float: left;
    margin-right: 35px;
}
sub{
    margin-top: 0;
}
.labels{
    font-weight: bold;
    text-decoration: underline;
}
.right{
    margin-left: 265px;
   
}